body {
    margin: 0;
    padding: 0;
    
    font-size: 13px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #000;
    line-height: 24px;
    font-weight: 400;

    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}




/* --------------- Header styles --------------- */


.main-header {
    padding-bottom: 60px;
    background-color: #f3f7f9;
}

.upper-header-wrapper { 
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 45px;
}

.upper-header-logo {
    margin: 0;
    padding: 0;
    width: 220px;
}

.search-form {
    width: 270px;
    min-height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.search-form input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0;
    width: 270px;
    padding-left: 50px;
    color: #fff;

    background-color: #293449;

    background-image: url("../img/icon-search-sprite.png");
    background-position: -8px -12px;
    background-repeat: no-repeat;
}

.search-form input:hover {
    background-image: url("../img/icon-search-sprite.png");
    background-position: -8px -79px;
    background-repeat: no-repeat;
}

.search-form input:focus {
    color: #000;
    background-color: #fff;
    outline: 0;

    background-image: url("../img/icon-search-sprite.png");
    background-position: -8px -213px;
    background-repeat: no-repeat;
}

.search-form input::-webkit-input-placeholder {
    color: white;
}

.search-form input:-ms-input-placeholder {
    color: white;
}

.search-form input::-ms-input-placeholder {
    color: white;
}

.search-form input::placeholder {
    color: white;
}

.upper-header-bookmarks {
    position: relative;
    width: 150px;
    padding-left: 45px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.upper-header-bookmarks::before {
    content: "";

    left: 17px;
    top: 13px;
    position: absolute;
    width: 14px;
    height: 16px;

    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: .3;
}

.upper-header-bookmarks:hover::before,
.upper-header-bookmarks:focus::before {
    opacity: 1;
}

.upper-header-bookmarks:active::before {
    opacity: .5;
}

.upper-header-basket {
    position: relative;
    width: 150px;
    padding-left: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.upper-header-basket::before {
    content: "";

    left: 8px;
    top: 12px;
    position: absolute;
    width: 15px;
    height: 16px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: .3;
}

.upper-header-basket:hover::before,
.upper-header-basket:focus::before {
    opacity: 1;
}

.upper-header-basket:active::before {
    opacity: .5;
}


.upper-header-checkout {
    width: 150px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    background-color: #63a63e;
}

.upper-header-checkout:hover,
.upper-header-checkout:focus {
    background-color: #5fbb2d;
}

.upper-header-checkout:active {
    background-color: #518534;
}

.middle-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 45px;
}

.middle-header-slogan {
    padding: 0;
    margin: 0;

    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;

    margin-left: 50px;
    margin-right: 70px;
    width: 200px;
    min-height: 75px;
}

.middle-header-user-interface {
    width: 300px;
    min-height: 75px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.middle-header-user-interface ul {
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.middle-header-user-interface ul li:first-child {
    list-style: none;
    margin-right: 15px;
    margin-left: 17px;
}

.middle-header-user-interface ul li {
    margin-left: 13px;
    margin-right: 15px;
}

.middle-header-user-interface ul a:active {
    color: #32425c;
    opacity: .3
}

.header-button {
    padding: 12px 25px;

    font: inherit;
    font-size: 21px;
    line-height: 21px;
    
    color: #000;
    
    min-width: 50px;

    background-color: #fff;
    border: none;
    position: relative;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: auto;
    
}

.middle-header-user-interface > .header-button:active::before,
.middle-header-user-interface > .header-button:active::after {
    opacity: .3;
}

.middle-header-user-interface > .header-button:active {
    color: rgba(0,0,0,0.3);
}

.user-enter {
    margin-right: 10px;
    padding-left: 45px;
}

.user-enter::before {
    content: "";
    position: absolute;

    width: 20px;
    height: 17px;
    top: 14px;
    left: 14px;

    background-image: url("../img/icon-login-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -20px;
}

.user-enter:hover::before {
    content: "";
    position: absolute;

    width: 20px;
    height: 17px;
    top: 14px;
    left: 14px;

    background-image: url("../img/icon-login-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -77px;
}

.user-name {
    padding-left: 45px;
    padding-right: 69px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
}

.user-name::before {
    content: "";
    position: absolute;

    width: 20px;
    height: 17px;
    top: 14px;
    left: 14px;

    background-image: url("../img/icon-user-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -134px;
}

.user-name:hover::before {
    content: "";
    position: absolute;

    width: 20px;
    height: 17px;
    top: 14px;
    left: 14px;

    background-image: url("../img/icon-user-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -192px;
}

.user-name::after {
    content: "";
    position: absolute;

    width: 20px;
    height: 17px;
    right: 10px;
    top: 14px;

    background-image: url("../img/icon-user-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -20px;
}

.user-name:hover::after {
    content: "";
    position: absolute;

    width: 21px;
    height: 17px;
    right: 10px;
    top: 14px;

    background-image: url("../img/icon-user-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -77px;
}

.upper-content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;  
    min-height: 68px; 
}

.upper-header {
   font-size: 17px;
   line-height: 18px;
   color: #fff; 

   background-color: #293449;
}

.upper-header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logotype {
    position: relative;
    font-size: 24px;
    line-height: 24px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 55px;
    width: 100%;
    padding-right: 55px;
    display: block;
    text-transform: uppercase;
    
    background-color: #ee3643;
}

.logotype::after {
    content: "";

    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;

    height: 5px;

    background-color: #b52933;
}

.logotype:hover,
.logotype:focus {
    background-color: #ca2c37;
}

.logotype:hover::after {
    background-color: #9a212a;
}

.logotype:active {
    background-color: #ba2732;
}

.middle-header {
    background-color: #f3f7f9;
}

.middle-header-requisites {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    min-height: 75px;
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
}

.middle-header-telephone {
    color: #ee3643;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    position: relative;

    padding-left: 70px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 8px;

    border: 3px solid #fff;
}

.middle-header-telephone::before {
    content: "";
  
    position: absolute;
    top: 10px;
    left: 12px;
    
    width: 19px;
    height: 19px;
    
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.middle-header-requisites p {
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.user-name,
.user-enter,
.user-registration {
    color: #000;
    font-size: 21px;
    font-weight: 400;
    
    background-color: #fff;
}

.user-orders,
.user-profile {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.middle-header-user-interface a:hover,
.middle-header-user-interface a:focus {
    color: #ee3643;
}

.red-cart {
    background-color: #ee3643;
}

.red-cart:hover,
.red-cart:focus {
    background-color: #ca2c37;
}

.main-navigation {
    font-size: 17px;
    line-height: 17px;
    color: #fff;

    background-color: #32425c;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
}

.main-navigation li {
    text-align: center;
    
}

.main-navigation li:first-child,
.main-navigation li:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.main-navigation li a {
    color: #fff;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 19px;
    padding-bottom: 19px;
    border-bottom: 5px solid #293449;
}


.main-navigation a:hover,
.main-navigation a:focus {
    background-color: #293449;
}

.main-navigation a:active {
    color: rgba(255,255,255,0.5);
    background-color: #1d2739;
    border-bottom-color: #1d2739;
}




/* --------------- Footer styles --------------- */


.main-footer {
    background-color: #32425c;
}

.upper-footer {
    color: white;
    font-size: 18px;
    line-height: 24px;
}

.footer-logotype:hover,
.footer-logotype:focus {
    background-color: #ca2c37;
    border-bottom: 5px solid #9a212a;
}

.upper-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.lower-list li a {
    color: #ffd180;
}

.upper-footer li a:hover,
.upper-footer li a:focus {
    text-decoration: underline;
}

.upper-footer li a:active {
    opacity: 0.5;
    text-decoration: none;
}

.lower-footer {
    color: white;
    font-size: 16px;
    line-height: 18px;

    background-color: #293449;
}

.footer-copyright {
    margin: 0;
}

.footer-feedback a,
.footer-developed a{
    color: #ffd180;
}

.footer-developed {
    margin-bottom: 0;
}

.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-developed a:hover,
.footer-developed a:focus {
    text-decoration: underline;
}

.footer-feedback a:active,
.footer-developed a:active {
    text-decoration: none;
    color: #963546;
}

.footer-logotype {
    width: 140px;
    padding: 15px 40px;

    font-size: 30px;
    line-height: 33px;
    text-transform: uppercase;

    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.upper-list {
    padding: 0;
    margin: 0;
    width: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.upper-list a {
   display: block;
   margin-top: 32px;
}

.lower-content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
}

.lower-content-block p {
    margin: 0;
    padding: 0;
    width: 380px;
}

.lower-list {
    width: 525px;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.lower-footer {
    padding-top: 35px;
    padding-bottom: 35px;
}

.lower-footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-copyright {
    margin: 0;
    padding: 0;
    width: 230px;
    margin-right: 160px;
}

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    list-style: none;
    margin: 0;
    padding: 0;
    width: 131px;
    margin-right: 130px;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 41px;
    height: 40px;
    background-color: #212a3a;
    border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.footer-feedback {
    margin: 0;
    padding: 0;
    width: 140px;
}

.footer-developed {
    margin: 0;
    padding: 0;
    width: 100px;
    margin-left: auto;
}




/* --------------- Main styles --------------- */


.inner-page {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 25px;
    list-style: none;
}

.breadcrumbs li {
    position: relative;

    padding-right: 17px;
    padding-left: 17px;
}

.breadcrumbs li a {
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.home-link::before {
    content: "";
  
    position: absolute;
    top: 3px;
    left: 0;
    
    width: 15px;
    height: 12px;
    
    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.current-page {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.breadcrumbs li:not(:first-child)::after {
    content: "";
  
    position: absolute;
    top: 3px;
    left: -3px;
    
    width: 7px;
    height: 12px;
    
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.page-title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    
    
    background-color: #f2f6f8;
}

.catalog-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.catalog-columns-header {
    display: flex;
    flex-wrap: wrap;

    padding: 10px 20px 9px 20px;
    margin-bottom: 20px;

    background-color: #f7f3ec;
}

.catalog-columns-header p {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.catalog-columns-header p:first-child {
    margin-right: 140px;
}

.catalog-columns-header .catalog-header-price,
.catalog-columns-header .catalog-header-type,
.catalog-columns-header .catalog-header-func {
    color: rgba(0, 0, 0, .3);

    margin-right: 65px;

    text-transform: uppercase;
    border-bottom: 1px dotted #ee3643;
}

.catalog-columns-header .catalog-header-price:hover,
.catalog-columns-header .catalog-header-type:hover,
.catalog-columns-header .catalog-header-func:hover,
.catalog-columns-header .catalog-header-price:focus,
.catalog-columns-header .catalog-header-type:focus,
.catalog-columns-header .catalog-header-func:focus {
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid #ee3643;
}

.catalog-columns-header .catalog-header-price:active,
.catalog-columns-header .catalog-header-type:active,
.catalog-columns-header .catalog-header-func:active {
    border-bottom: 0;
    color: #ee3643;
}

.catalog-columns-header .catalog-header-func {
    margin-right: 45px;
}

.catalog-columns-header .catalog-active {
    color: #ee3643;
    border-bottom: 0;
    margin-right: 70px;
}

.catalog-columns-header .catalog-up-btn,
.catalog-columns-header .catalog-down-btn {
    font-size: 0;
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
}

.catalog-columns-header .catalog-up-btn {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 10px 5.5px;
    border-color: transparent transparent #ee3642 transparent;
    margin-right: 18px;
}

.catalog-columns-header .catalog-up-btn:hover,
.catalog-columns-header .catalog-up-btn:focus {
    border-color: transparent transparent #231f20 transparent;
}

.catalog-columns-header .catalog-up-btn:active {
    border-color: transparent transparent #ee3642 transparent;
}

.catalog-columns-header .catalog-down-btn {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5.5px 0 5.5px;
    border-color: #c5c5c5 transparent transparent transparent;
}

.catalog-columns-header .catalog-down-btn:hover,
.catalog-columns-header .catalog-down-btn:focus {
    border-color: #231f20 transparent transparent transparent;
}

.catalog-columns-header .catalog-down-btn:active {
    border-color: #ee3643 transparent transparent transparent;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.filter legend {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 30px;
    text-transform: uppercase;
}

.range-filter {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;

    width: 220px;
}

.range-controls {
    position: relative;
    height: 41px;
    
    background-color: #f7f3ec;
    
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
}

.range-controls .scale {
    height: 2px;
  
    background: #d7dcde;
}

.range-controls .bar {
    width: 151px;
    height: 2px;
  
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    
    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}
  
.range-controls .toggle-max {
    left: 160px;
}


.toggle-wrapper:focus > .toggle {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
}


.price-controls {
    display: flex;
    justify-content: space-between;
    position: relative;

    font-size: 16px;
    text-transform: uppercase;

    margin-bottom: 25px;
}

.price-controls input {
    width: 95px;
    padding: 10px 0;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #000;

    border: none;
    border-radius: 3px;
    background: #f7f3ec;
}

.price-controls label::before {
    content: "";
    position: absolute;
    
    background-color: #000;
    width: 10px;
    height: 1px;
    
    top: 19px;
    right: 105px;
}

.filter fieldset:not(:first-child) legend {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}

.filter ul {
    list-style: none;
    line-height: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.filter-option {
    margin-bottom: 10px;
    padding-left: 35px;
}

.filter-option label {
    position: relative;

    line-height: 23px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: block;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    
    width: 26px;
    height: 23px;
    left: -35px;
    
    background-image: url("../img/icon-checkbox-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -20px;
}

.filter-input-checkbox:focus + label::before {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
}

.filter-input-checkbox + label:hover::before {
    content: "";
    position: absolute;
    
    width: 26px;
    height: 23px;
    left: -35px;
    
    background-image: url("../img/icon-checkbox-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -83px;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    
    width: 26px;
    height: 23px;
    left: -35px;
    
    background-image: url("../img/icon-checkbox-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -146px;
}

.filter-input-checkbox:checked + label:hover::after {
    content: "";
    position: absolute;
    
    width: 26px;
    height: 23px;
    left: -35px;
    
    background-image: url("../img/icon-checkbox-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -209px;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    
    width: 25px;
    height: 25px;
    left: -35px;
    
    background-image: url("../img/icon-radio-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -20px;
}

.filter-input-radio:focus + label::before {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
}

.filter-input-radio + label:hover::before {
    content: "";
    position: absolute;
    
    width: 25px;
    height: 25px;
    left: -35px;
    
    background-image: url("../img/icon-radio-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -215px;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    
    width: 25px;
    height: 25px;
    left: -35px;
    
    background-image: url("../img/icon-radio-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -85px;
}

.filter-input-radio:checked + label:hover::after {
    content: "";
    position: absolute;
    
    width: 25px;
    height: 25px;
    left: -35px;
    
    background-image: url("../img/icon-radio-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -150px;
}

.filter fieldset:last-of-type {
    margin-bottom: 50px;
}

.catalog {
    width: 700px;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;

    margin-bottom: 30px;
}

.catalog-item {
    position: relative;
    width: 218px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-right: 20px;
    color: #000;
    min-height: 320px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.catalog-item .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}

.catalog-item .flag-new{
    background:url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark{
    position: relative;

    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;
}

.catalog-item .actions{
    display:none;
}

.catalog-item:hover .actions{
    display:block;
}

.catalog-item:hover {
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}

.catalog-item .buy::before {
    content: "";

    left: 12px;
    top: 8px;
    position: absolute;
    width: 15px;
    height: 16px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: .3;
}

.catalog-item .buy:hover::before {
    opacity: 1;
}

.catalog-item .buy:hover,
.catalog-item .buy:focus {
    background-color: #5fbb2d;
    border-top-color: #5fbb2d;
    border-left-color: #5fbb2d;
    border-right-color: #5fbb2d;
}

.catalog-item .buy:active {
    background-color: #518534;
    border-color: #518534;
}

.catalog-item .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.catalog-item .actions .bookmark:hover,
.catalog-item .actions .bookmark:focus {
    border-color: #32425c;
}

.catalog-item .actions .bookmark:active {
    color: rgba(50, 66, 92, 0.3);
    border-color: #c1c6ce;
}

.catalog-item-image{
    width:218px;
    height:168px;
    position: relative;
}

.catalog-item-image img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item .discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}

.catalog-item-title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;    
}

.catalog-item .price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}

.catalog-list li:nth-child(3n) .price {
    margin-top: 45px;
}
.catalog-item .price::after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.pagination-list {
    padding: 0;
    margin: 0;

    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;

    list-style: none;
}

.pagination-item {
    margin-right: 10px;
}

.pagination-item a:hover,
.pagination-item a:focus {
    border-color: #bdc6ca;
    outline: none;
}

.pagination-item a:active {
    border-color: #ee3643;
    outline: none;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    display: block;
    background-color: #fff;
    padding: 9px 14px;
    color: #000;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
}

.pagination-item-current a {
    background-color: #ee3643;
    color: #fff;
    border: 2px solid #ee3643;
}

.pagination-item-next a {
    padding-left: 30px;
    padding-right: 30px;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
    background-color: #ca2c37;
    border-color: #ca2c37;
}

.pagination-item-current a:active {
    background-color: #ba2732;
    border-color: #ba2732;
}

.general-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-us h2,
.contacts h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
}

.about-us p,
.contacts p {
    margin: 0;
    padding: 0;
}

.about-us p:first-of-type,
.contacts p:first-of-type {
    margin-bottom: 30px;
}

.about-us {
    min-height: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 525px;
}

.about-us ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 25px;
}

.about-us li {
    font-size: 18px;
    line-height: 20px;
    padding-left: 35px;
    margin-bottom: 15px;
}

.about-us-button {
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.contacts {
    min-height: 375px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.map-sm {
    height: 158px;
    margin-bottom: 40px;
}

.map-sm img {
    width: 300px;
    height: 158px;
}

.red-button {
    display: inline-block;
    padding: 10px 40px;
    
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

.red-button:hover,
.red-button:focus {
    background-color: #ca2c37;
}

.red-button:active {
    background-color: #ba2732;
}

.white-button {
    display: inline-block;
    padding: 10px 38px;
    
    font: inherit;
    text-align: center;
    color: #000;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
}

.white-button:hover,
.white-button:focus {
    border-color: #bdc6ca;
    outline: none;
}

.white-button:active {
    border-color: #ee3643;
    outline: none;
}

.filters {
    width: 220px;
}

.inner-page-content {
    padding-bottom: 55px;
    background-color: #f2f6f8;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.inner-page-content h2 {
    padding: 65px 0 0 0;
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
}

.inner-page-content p {
    padding: 0;
    margin: 14px 0;
}




/* --------------- Modal styles --------------- */




@-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
  
    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  
    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
}




@keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
  
    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  
    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
}

@-webkit-keyframes hide {
      100% {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
      }
}

@keyframes hide {
      100% {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
      }
}

@-webkit-keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
}

.modal {
    color: #000;
    position: fixed;

    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);

            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);

    display: none;
}

.modal-show {
    display: block;

    -webkit-animation: bounce 0.6s;

            animation: bounce 0.6s;
}

.modal-hide {
    -webkit-animation: hide 0.5s;
            animation: hide 0.5s;
}

.modal-error {  
    -webkit-animation: shake 0.6s;  
            animation: shake 0.6s;
}

.modal-feedback {
    width: 620px;

    top: 200px;
    left: 50%;
    margin-left: -310px;

    background-color: #fff;
    border-top: 7px solid #ff5358;
}

.modal-close {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 21px;
    height: 21px;
    
    font-size: 0;
    background-color: transparent;
    border: 0;
  
    cursor: pointer;
    z-index: 5;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 9px;
    right: 1px;

    width: 19px;
    height: 3px;

    background-color: #ee3643;
}

.modal-close::before {
    -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        transform: rotate(45deg);
}
  
.modal-close::after {
    -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
}

.modal-feedback p {
    margin: 0;
    padding: 0;
}

.feedback-item label {
    display: block;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 7px;
}

.feedback-form .feedback-name,
.feedback-form .feedback-email {
    width: 220px;
    margin-bottom: 20px;
    
}

.feedback-form .feedback-text {
    width: 100%;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
    width: 186px;
    padding: 10px 15px;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    border: 2px solid #dee3e4;
    border-radius: 3px;
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
    color: #a9a9a9;
}

.feedback-form input:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder {
    color: #a9a9a9;
}

.feedback-form input::-ms-input-placeholder,
.feedback-form textarea::-ms-input-placeholder {
    color: #a9a9a9;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
    color: #a9a9a9;
}

.feedback-form textarea {
    width: 426px;
    height: 110px;
}

.modal-header {
    background-color: #fff;

    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    
    -ms-flex-wrap: wrap;
    
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 460px;

    padding-top: 45px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 37px;
}

.modal-footer {
    background-color: #f5f5f5;
    padding-bottom: 37px;
    padding-top: 37px;
    padding-left: 80px;
    padding-right: 80px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.modal-footer .red-button {
    width: 460px;
}

.modal-map {
    top: 50%;
    left: 50%;

    margin-top: -223px;
    margin-left: -470px;
    width: 940px;
    height: 446px;
}

.map-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.modal-map iframe {
    position: relative;
    z-index: 2;

    border: none;
}

.modal-add-to-cart {
    width: 620px;

    top: 210px;
    left: 50%;
    margin-left: -310px;

    font-family: "Cuprum", "Arial", sans-serif;

    background-color: #fff;
    border-top: 7px solid #ff5358;
}

.modal-add-to-cart .modal-header {
    margin: 0;
    
    padding-top: 70px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 63px;
}

.modal-add-to-cart h2 {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    margin:0;
    padding-left: 100px;

    text-transform: none;
}

.modal-add-to-cart h2::before {
    position: absolute;

    content: "";

    left: 0px;
    top: -20px;
    position: absolute;
    width: 66px;
    height: 66px;

    background-image: url("../img/form1.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.modal-add-to-cart .red-button,
.modal-add-to-cart .white-button {
    width: 220px;
    padding: 10px 0;
    line-height: 18px;
    font-size: 14px;

    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    border: none;
    border-radius: 3px;
    
}

.modal-add-to-cart .white-button {
    background-color: #fff;
    color: #000;
}

.modal-add-to-cart .red-button:hover,
.modal-add-to-cart .red-button:focus {
    background-color: #ca2c37;
}

.modal-add-to-cart .red-button:active {
    background-color: #ba2732;
}

.modal-add-to-cart .white-button:hover,
.modal-add-to-cart .white-button:focus {
    -webkit-box-shadow: 0 0 1pt 1pt red;
            box-shadow: 0 0 1pt 1pt red;
}